<h1>Pirates</h1>


<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ships| %>
<div class="ship">
  <p>Name: <%= ships.name %></p><br>
  <p>Type: <%= ships.type %></p><br>
  <p>Booty: <%= ships.booty %></p>
</div><br>



